p {
    text-indent: 25px;
    line-height: 10cap;
    align-content: center;
    border-left: 1px;
    border-right: 1px;
      
}

h2{
    text-align: center;
}

body{
    margin-left: 40px;

}
